<div class="d-flex" id="sidebar">
  <div class="bg-dark border-rigth p-3">
    <app-sidebar></app-sidebar>
  </div>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Search</h5>
        <input type="text" class="form-control" placeholder="Search a gifs">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Minim et quis culpa ex excepteur nostrud sunt laboris consectetur enim proident consectetur. Et pariatur voluptate irure laborum magna magna laboris. Velit ut excepteur aliquip est est velit occaecat velit sunt enim duis ad. Aliquip aliquip fugiat velit nostrud ex Lorem enim in commodo labore eiusmod. Laborum occaecat ut aute ex esse dolore. Eiusmod excepteur nisi labore ea nostrud laboris ut pariatur. Quis sunt eiusmod est mollit cupidatat ut qui nostrud adipisicing velit.
      </div>
    </div>
  </div>
</div>